@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

canvas {
    position: absolute; z-index: 1
}


#content {
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

a:link {
  text-decoration: none;
}

.c {
  margin: 70px auto 20px auto;
  text-align: center;
}

.c .h {
  color: #000;
  font-size: 2em;
  font-weight: normal;
}

.i {
  letter-spacing: 1px;
  width: 640px;
  margin: 30px auto 10px auto;   
  text-align: center;
}

.left {
    text-align: left;    
}

/* Non dot text color */
.i, .i a {
  color: #111;
}

/* Dot color */
.i .s {
    color: #AAA;
}

.u {
  text-decoration: underline;
}

.centered {
    margin: 0 auto;
}

.circular {
    width: 300px;
    height: 300px;

     border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

    background: url(../img/me_dog.png) no-repeat;
    background-size: 300px 300px;
    margin-bottom: 0.3cm;
}

.s {
    display: inline-block;
}
.s2 {
    display: none;
}

@media screen and (max-width: 700px) {
    .i {
        width: 95%;
    }

    .i p.dots {
        text-align: left;
    }

    .s {
        display: none;
    }
    .s2 {
        display: inline-block;
    }
}

@media screen and (max-height: 700px) {
    .c {
      margin: 0.3cm auto 20px auto;
    }

    .i {
        margin: 0.3cm auto 10px auto;
    }

    .circular {
       width: 120px;
       height: 120px;

       border-radius: 3px;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;

       background-size: 120px 120px;
    }
}

.i p {
  margin-bottom: 20px;
}
